<a href="https://colab.research.google.com/github/trewto/Enviroment_Study/blob/main/mk_slope_lastedit_18nov2024_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
df = pd.read_excel('/content/drive/MyDrive/research/Rainfall_1981-2022.xlsx', header=0,na_values=[''])

In [4]:
df.head()

,Stati,Year,Month,1,2,3,4,5,6,7,...,22,23,24,25,26,27,28,29,30,31
0,Dhaka,1981,1,5,NaN,4,5,5,0,0,...,0,0,0,0,0,0,0,0,0,6
1,Dhaka,1981,2,9,2,0,0,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,Dhaka,1981,3,0,0,0,0,0,0,0,...,10,0,10,0,13,0,8,0,2,0
3,Dhaka,1981,4,41,2,0,0,4,0,0,...,0,2,0,0,0,0,0,0,3,NaN
4,Dhaka,1981,5,0,0,0,0,20,8,0,...,20,0,0,13,1,1,1,43,45,0

In [ ]:
# prompt: check how manny cell value is  "Trace" or "Xx"

# Count occurrences of "Trace" or "Xx" in the DataFrame
#trace_count = df[df.applymap(lambda x: isinstance(x, str) and x.lower() == 'trace').any(axis=1)].shape[0]
#xx_count = df[df.applymap(lambda x: isinstance(x, str) and x.lower() == 'xx').any(axis=1)].shape[0]
#xx_count = df[df.applymap(lambda x: isinstance(x, str) and x.lower() == '***').any(axis=1)].shape[0]


#print(f"Number of rows with 'Trace': {trace_count}")
#print(f"Number of rows with 'Xx': {xx_count}")

In [5]:
# prompt: if a collum value is  "Trace" or "Xx" , convert it to 0

df.replace(to_replace=['Trace', 'Xx','***'], value=0, inplace=True)

In [6]:
df.head()

,Stati,Year,Month,1,2,3,4,5,6,7,...,22,23,24,25,26,27,28,29,30,31
0,Dhaka,1981,1,5,NaN,4,5,5,0,0,...,0,0,0,0,0,0,0,0,0,6
1,Dhaka,1981,2,9,2,0,0,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,Dhaka,1981,3,0,0,0,0,0,0,0,...,10,0,10,0,13,0,8,0,2,0
3,Dhaka,1981,4,41,2,0,0,4,0,0,...,0,2,0,0,0,0,0,0,3,NaN
4,Dhaka,1981,5,0,0,0,0,20,8,0,...,20,0,0,13,1,1,1,43,45,0

In [9]:
# Convert each column from 1 to 31 to numeric, forcing errors to NaN
for col in range(1, 32):  # loop through column names 1 to 31
    df[col] = pd.to_numeric(df[col], errors='coerce')  # convert to numeric and coerce errors

# Check the dtypes to ensure conversion
#print(df.loc[:, 1:31].dtypes)  # This will show the data types of the columns from 1 to 31

# Now apply interpolation to fill NaN values
df.loc[:, 1:31] = df.loc[:, 1:31].interpolate(method='linear', axis=1)

# Sum the columns from 1 to 31 row-wise, ignoring NaN values
df['sum_1_to_31'] = df.loc[:, 1:31].sum(axis=1)

# Check the resulting dataframe
df = df[['Stati','Year', 'Month', 'sum_1_to_31']]

df.head()

          Stati  Year Month  sum_1_to_31
0  Dhaka         1981     1         33.5
1  Dhaka         1981     2         42.0
2  Dhaka         1981     3        109.0
3  Dhaka         1981     4        277.0
4  Dhaka         1981     5        272.0

In [ ]:
# Convert day columns (1 to 31) to numeric, forcing errors to NaN
#df.loc[:, 1:31] = df.loc[:, 1:31].apply(pd.to_numeric, errors='coerce')
#df.loc[:, 1:31] = df.loc[:, 1:31].interpolate(method='linear', axis=1)
#if needed remove this later// which will be proper way to handle the missing value
#df.loc[:, 1:31] = df.loc[:, 1:31].fillna(df.loc[:, 1:31].mean(axis=1), axis=0)

## Sum the columns from 1 to 31 row-wise, ignoring NaN values
#df['sum_1_to_31'] = df.loc[:, 1:31].sum(axis=1)
#df.head()

In [10]:
print(df['Stati'].unique())

['Dhaka       ' nan
 '          Daily  total  Rainfall  data  in  Millimeter  ' 'Stati'
 'Tangail     ' 'Mymensingh  ' 'Faridpur' 'Madaripur   ' 'Srimangal   '
 'Sylhet      ' 'Bogra       ' 'Dinajpur    ' 'Ishurdi     '
 'Rajshahi    ' 'Rangpur     ' 'sydpur      ' 'chuadanga   '
 'Jessore     ' 'Khulna      ' 'Mongla      ' 'Satkhira    '
 'Barisal     ' 'Bhola       ' 'Khepupara   ' 'Patuakhali  '
 'Chandpur    ' 'Teknaf      ' 'Chittagong  ' 'Comilla     '
 "Cox'sbazar  " 'Feni        ' 'Hatiya      ' 'Kutubdia    '
 'M.court     ' 'Rangamati   ' 'Sandwip     ' 'Ambagan(Ctg)'
 'Sitakunda   ']

In [12]:
unique_city = df['Stati'].unique()
print(unique_city[0])

Dhaka

In [13]:
p = 0
for city in unique_city:
    #print index and city name
    print(city,p)
    p= p+1

Dhaka        0
nan 1
          Daily  total  Rainfall  data  in  Millimeter   2
Stati 3
Tangail      4
Mymensingh   5
Faridpur 6
Madaripur    7
Srimangal    8
Sylhet       9
Bogra        10
Dinajpur     11
Ishurdi      12
Rajshahi     13
Rangpur      14
sydpur       15
chuadanga    16
Jessore      17
Khulna       18
Mongla       19
Satkhira     20
Barisal      21
Bhola        22
Khepupara    23
Patuakhali   24
Chandpur     25
Teknaf       26
Chittagong   27
Comilla      28
Cox'sbazar   29
Feni         30
Hatiya       31
Kutubdia     32
M.court      33
Rangamati    34
Sandwip      35
Ambagan(Ctg) 36
Sitakunda    37

In [14]:
#df_city = df[df['Stati'] == 'Faridpur']
#df_city = df_city[['Year', 'Month', 'sum_1_to_31']]
#df_city.head(20)

In [11]:
!pip install pymannkendall

Collecting pymannkendall
  Downloading pymannkendall-1.4.3-py3-none-any.whl.metadata (14 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from pymannkendall) (1.26.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from pymannkendall) (1.13.1)
Downloading pymannkendall-1.4.3-py3-none-any.whl (12 kB)
Installing collected packages: pymannkendall
Successfully installed pymannkendall-1.4.3

In [37]:
import pandas as pd
import pymannkendall as mk

# Function to calculate Mann-Kendall slope (Sen's slope) and Zmk for each month
def calculate_mk_slope(df,city_name):
    # Initialize a result dictionary to store Zmk and Q values for each month
    results = {}

    # Loop over each month (1 to 12)
    for month in range(1, 13):
        # Filter data for the specific month
        month_data = df[df['Month'] == month]

        # Perform Mann-Kendall test (it returns Zmk and Sen's slope Q)
        mk_test_result = mk.original_test(month_data['sum_1_to_31'])

        # Store the results in the dictionary
        #results[month] = {'City':city_name,'Zmk': mk_test_result.z, 'Q (Sen\'s slope)': mk_test_result.slope}
        results[month] = {f"Zmk_{city_name}": mk_test_result.z, f'Q (Sen\'s slope)': mk_test_result.slope}

    # Convert the result dictionary into a DataFrame for better visualization
    results_df = pd.DataFrame(results)
#    results_df = pd.DataFrame(results).T
    return results_df

In [16]:
# dataframe is named df_city
mk_results = calculate_mk_slope(df_city)
print(mk_results)

NameError: name 'df_city' is not defined

**Making Function to call citywiSE**

In [17]:
import numpy as np

In [18]:
print(unique_city)

['Dhaka       ' nan
 '          Daily  total  Rainfall  data  in  Millimeter  ' 'Stati'
 'Tangail     ' 'Mymensingh  ' 'Faridpur' 'Madaripur   ' 'Srimangal   '
 'Sylhet      ' 'Bogra       ' 'Dinajpur    ' 'Ishurdi     '
 'Rajshahi    ' 'Rangpur     ' 'sydpur      ' 'chuadanga   '
 'Jessore     ' 'Khulna      ' 'Mongla      ' 'Satkhira    '
 'Barisal     ' 'Bhola       ' 'Khepupara   ' 'Patuakhali  '
 'Chandpur    ' 'Teknaf      ' 'Chittagong  ' 'Comilla     '
 "Cox'sbazar  " 'Feni        ' 'Hatiya      ' 'Kutubdia    '
 'M.court     ' 'Rangamati   ' 'Sandwip     ' 'Ambagan(Ctg)'
 'Sitakunda   ']

In [19]:
p = 0
for city in unique_city:
    #print index and city name
    print(city,p)
    p= p+1

Dhaka        0
nan 1
          Daily  total  Rainfall  data  in  Millimeter   2
Stati 3
Tangail      4
Mymensingh   5
Faridpur 6
Madaripur    7
Srimangal    8
Sylhet       9
Bogra        10
Dinajpur     11
Ishurdi      12
Rajshahi     13
Rangpur      14
sydpur       15
chuadanga    16
Jessore      17
Khulna       18
Mongla       19
Satkhira     20
Barisal      21
Bhola        22
Khepupara    23
Patuakhali   24
Chandpur     25
Teknaf       26
Chittagong   27
Comilla      28
Cox'sbazar   29
Feni         30
Hatiya       31
Kutubdia     32
M.court      33
Rangamati    34
Sandwip      35
Ambagan(Ctg) 36
Sitakunda    37

In [20]:
# Corrected indices for each item in the requested list:
preferred_index= [
    16,  # Chuadanga
    17,  # Jessore
    18,  # Khulna
    20,  # Satkhira
    27,  # Chittagong
    36,  # Ambagan(Ctg)
    29,  # Cox'sbazar
    30,  # Feni
    34,  # Rangamati
    37,  # Sitakunda
    26,  # Teknaf
    10,   # Bogra
    11,  # Dinajpur
    12,  # Ishurdi
    13,  # Rajshahi
    14,  # Rangpur
    15,  # Syedpur
    8,   # Srimangal
    9,   # Sylhet
    21,  # Barisal
    22,  # Bhola
    31,  # Hatiya
    23,  # Khepupara
    32,  # Kutubdia
    33,  # M.court
    19,  # Mongla
    24,  # Patuakhali
    35,  # Sandwip
    25,  # Chandpur
    28,  # Comilla
    0,   # Dhaka
    6,   # Faridpur
    7,   # Madaripur
    5,   # Mymensingh
    4    # Tangail
]

In [38]:
#for city in unique_city:
final_results = pd.DataFrame()

for ind in preferred_index:
    city  = unique_city[ind]
    if city in ['          Daily  total  Rainfall  data  in  Millimeter  ', 'Stati', np.nan]:
        continue

    # Filter the data for the specific city
    df_city = df[df['Stati'] == city]
    df_city = df_city[['Year', 'Month', 'sum_1_to_31']]

    # Check if the filtered dataframe has enough data points and unique values
    if len(df_city) > 2 and df_city['sum_1_to_31'].nunique() > 1:  # At least 2 data points and multiple unique values
        try:
            mk_results = calculate_mk_slope(df_city,city)
            #print(city)
            print(mk_results)
            final_results = pd.concat([final_results, mk_results])
        except ZeroDivisionError as e:
            print(f"Error calculating MK slope for {city}: {e}")
    else:
        print(f"Not enough data or unique values for {city}")



file_path = "/content/drive/MyDrive/research/mk_18Nov.csv" ;
# now wanna export df_transport in csv
#df_transposed.reset_index(inplace=True)
final_results.reset_index(inplace=True)

final_results.to_csv(file_path, index=False)

import os
if os.path.exists(file_path):
    print(f"File successfully saved at: {file_path}")
else:
    print("Error: File not saved.")

                        1         2         3         4         5         6   \
Zmk_chuadanga    -1.193488  0.164039  0.297603  1.365851  1.601744 -0.978844
Q (Sen's slope)   0.000000  0.000000  0.035714  1.000000  2.000000 -2.142857

                       7         8         9         10        11        12
Zmk_chuadanga    -0.90439 -0.044478 -1.423147 -0.474626 -0.349422  1.167973
Q (Sen's slope)  -1.87500 -0.200000 -3.611111 -0.625000  0.000000  0.000000
                        1         2         3         4         5        6   \
Zmk_Jessore      -1.493234 -0.480528 -0.955225 -0.617767 -0.672076 -1.39827
Q (Sen's slope)   0.000000  0.000000 -0.466667 -0.461538 -0.800000 -2.60000

                        7         8         9         10        11        12
Zmk_Jessore       1.636542 -0.466035 -0.097554  0.726148 -0.177134 -0.481609
Q (Sen's slope)   2.800000 -0.600000 -0.172414  0.916667  0.000000  0.000000
                        1         2         3         4         5         6   \
Zmk_Khulna       -1.573663 -0.380945 -1.467045 -2.026949 -0.791176 -0.596091
Q (Sen's slope)   0.000000 -0.029412 -0.411765 -1.476190 -1.000000 -1.444444

                        7         8         9         10        11        12
Zmk_Khulna        1.571514 -0.856204  0.747824  1.127221 -0.796322 -0.638817
Q (Sen's slope)   3.133333 -0.925926  1.500000  1.500000  0.000000  0.000000
                        1         2        3         4         5         6   \
Zmk_Satkhira     -1.373809 -0.700623 -0.91299 -3.013502  0.531126  0.044936
Q (Sen's slope)   0.000000 -0.037037 -0.24000 -2.225806  0.652174  0.042241

                        7         8         9         10        11   12
Zmk_Satkhira     -0.293107 -1.495911 -0.303483  0.997157 -0.753174  0.0
Q (Sen's slope)  -0.533333 -1.694444 -0.485714  1.142857  0.000000  0.0
                        1         2         3         4         5         6   \
Zmk_Chittagong   -0.668583 -1.577161 -1.922306 -1.823359  0.251438  0.289177
Q (Sen's slope)   0.000000 -0.071429 -1.333333 -2.727273  0.500000  1.758621

                        7        8         9         10        11        12
Zmk_Chittagong   -0.704027  0.32687  1.508867  1.358195 -1.906055  0.145317
Q (Sen's slope)  -3.578947  1.18750  2.826087  2.714286 -0.666667  0.000000
                       1         2         3         4         5         6   \
Zmk_Ambagan(Ctg)  1.30825  1.330773  0.794474  0.273016 -1.190978 -0.272848
Q (Sen's slope)   0.00000  0.000000  0.666667  0.418269 -4.483333 -3.151709

                        7         8         9         10        11       12
Zmk_Ambagan(Ctg)  0.074413 -0.942857  1.810721 -0.148872 -0.150141  0.02717
Q (Sen's slope)   0.416667 -7.267544  9.588889 -0.787879  0.000000  0.00000
                        1         2         3         4         5         6   \
Zmk_Cox'sbazar   -0.587261 -1.710112 -0.639089 -1.929584 -0.205922 -0.422683
Q (Sen's slope)   0.000000  0.000000  0.000000 -2.026316 -0.523810 -1.933333

                        7         8         9        10        11        12
Zmk_Cox'sbazar    0.845316 -0.205922  0.054203  1.64767 -3.100758 -0.305235
Q (Sen's slope)   2.692308 -1.111111  0.050000  3.00000 -2.000000  0.000000
                        1         2         3         4         5         6   \
Zmk_Feni         -1.048777 -1.835034 -0.826071 -2.200119 -1.170438  0.639444
Q (Sen's slope)   0.000000 -0.263158 -0.285714 -3.642857 -2.642857  1.923077

                        7         8         9         10        11        12
Zmk_Feni         -1.029612 -0.715352  0.628569  1.723246 -0.933071 -1.015726
Q (Sen's slope)  -4.031250 -2.000000  1.357143  2.809524 -0.086957  0.000000
                        1         2         3         4         5         6   \
Zmk_Rangamati     0.409956 -1.355695 -0.904564 -1.029733 -0.411821  1.484810
Q (Sen's slope)   0.000000 -0.066667 -0.200000 -1.272727 -0.666667  4.181818

                        7         8         9         10        11        12
Zmk_Rangamati    -0.151741 -0.704554  1.008055  2.351852 -1.891491 -0.034844
Q (Sen's slope)  -0.550000 -1.909091  0.967742  2.500000 -0.826087  0.000000
                        1         2         3         4         5         6   \
Zmk_Sitakunda     0.552317 -1.678469 -2.383252 -1.560767 -0.444359  1.441627
Q (Sen's slope)   0.000000 -0.052632 -1.384615 -2.454545 -0.750000  5.000000

                        7         8         9         10        11        12
Zmk_Sitakunda    -0.010838 -0.238423  0.650320  0.097554 -2.200613  0.843659
Q (Sen's slope)  -0.100000 -0.812500  1.461538  0.137931 -0.333333  0.000000
                        1         2         3         4         5         6   \
Zmk_Teknaf       -0.345359 -2.020709 -0.763246 -1.183385  0.715268 -1.083739
Q (Sen's slope)   0.000000  0.000000  0.000000 -1.000000  1.567568 -5.666667

                        7         8         9         10        11        12
Zmk_Teknaf        0.932015 -1.333077  1.235608  1.072965 -2.658545 -0.036713
Q (Sen's slope)   4.433333 -4.714286  2.900000  2.000000 -1.733333  0.000000
                       1         2        3         4         5        6   \
Zmk_Bogra        -0.28754 -0.450196 -0.38048  0.346932  0.292627  0.32516
Q (Sen's slope)   0.00000  0.000000 -0.04000  0.189189  0.434783  0.80000

                        7         8         9         10        11        12
Zmk_Bogra        -1.365511 -0.932234 -2.243735  0.195096 -2.042283 -1.584147
Q (Sen's slope)  -2.434783 -0.891892 -3.944444  0.333333  0.000000  0.000000
                        1         2         3         4         5         6   \
Zmk_Dinajpur     -1.416207 -0.055079  0.339996  0.606965  0.661197  0.563610
Q (Sen's slope)   0.000000  0.000000  0.000000  0.416667  0.906250  0.727273

                        7       8         9         10        11        12
Zmk_Dinajpur     -2.146055 -0.7695 -1.538909  0.173466 -1.456896 -2.041564
Q (Sen's slope)  -5.840000 -1.5000 -2.675676  0.230769  0.000000  0.000000
                        1         2         3         4         5         6   \
Zmk_Ishurdi      -0.294361 -1.182442 -0.858729 -0.997430 -1.170897 -0.281805
Q (Sen's slope)   0.000000 -0.205128 -0.214286 -0.590909 -1.083333 -0.586207

                        7         8         9         10        11        12
Zmk_Ishurdi      -0.802061 -0.303483 -1.333234  1.528341 -0.692849 -0.058738
Q (Sen's slope)  -1.153846 -0.500000 -2.277778  1.259259  0.000000  0.000000
                       1         2         3         4         5         6   \
Zmk_Rajshahi     -0.52276 -1.136380  0.271868 -0.260128  1.723449 -1.214073
Q (Sen's slope)   0.00000 -0.086957  0.000000 -0.161290  1.692308 -1.550000

                        7         8         9        10        11        12
Zmk_Rajshahi     -0.942908 -1.257482 -1.376429 -0.05419 -1.902121 -1.207393
Q (Sen's slope)  -1.647059 -2.090909 -2.500000 -0.08000 -0.055556  0.000000
                        1         2         3         4         5         6   \
Zmk_Rangpur      -0.950686 -0.581961 -0.553781  0.823738  1.018994 -1.300639
Q (Sen's slope)   0.000000  0.000000 -0.083333  1.000000  0.947368 -2.413793

                        7         8         9         10        11        12
Zmk_Rangpur      -1.452381 -0.335979 -1.473885  0.097554 -2.240163 -2.496994
Q (Sen's slope)  -5.200000 -0.823529 -4.307692  0.200000  0.000000  0.000000
                        1         2         3         4         5         6   \
Zmk_sydpur       -1.901376  0.614452  0.262014  1.719170  1.427236 -1.248667
Q (Sen's slope)  -0.196154  0.000000  0.000000  2.019231  2.421474 -4.746032

                        7         8         9         10        11        12
Zmk_sydpur       -0.648743  0.794815 -1.556984 -0.551771 -2.675261 -1.348762
Q (Sen's slope)  -2.792614  2.566964 -5.717143 -0.717949  0.000000  0.000000
                        1         2         3         4         5         6   \
Zmk_Srimangal     0.838559 -1.139710 -0.842714 -0.224653  1.370383  1.437779
Q (Sen's slope)   0.000000 -0.214286 -0.533991 -0.575862  3.803846  2.278846

                        7         8         9         10        11        12
Zmk_Srimangal     0.314554  0.157297 -1.685181  1.100799 -1.257526  0.169522
Q (Sen's slope)   0.414286  0.154762 -1.478047  1.140217 -0.125000  0.000000
                        1         2         3         4         5         6   \
Zmk_Sylhet       -1.118243 -0.868011 -1.517591 -0.953690  0.997040  0.596091
Q (Sen's slope)   0.000000 -0.166667 -1.312500 -2.727273  2.846154  2.375000

                        7         8         9         10        11        12
Zmk_Sylhet       -1.907381 -0.108387 -1.441627  0.899556 -0.722252 -1.161713
Q (Sen's slope)  -5.444444 -0.290323 -4.500000  1.714286  0.000000  0.000000
                        1         2         3         4         5         6   \
Zmk_Barisal      -1.393662 -1.157819 -1.551418 -1.453121 -0.921449 -0.715268
Q (Sen's slope)   0.000000 -0.200000 -0.357143 -1.516129 -1.363636 -2.111111

                        7         8         9         10        11        12
Zmk_Barisal      -0.227625 -1.149033  0.823964  1.278812 -1.182348 -0.130823
Q (Sen's slope)  -0.444444 -1.846154  1.181818  2.324324 -0.212121  0.000000
                        1         2         3         4         5         6   \
Zmk_Bhola        -1.383534 -1.372329 -1.499734 -2.135677 -0.921340 -1.604122
Q (Sen's slope)   0.000000 -0.222222 -0.435897 -2.500000 -1.521739 -4.818182

                        7         8         9         10        11        12
Zmk_Bhola        -0.823738 -0.867093 -0.574505  1.734186 -0.844184  0.328881
Q (Sen's slope)  -1.450000 -1.384615 -0.785714  2.360000  0.000000  0.000000
                        1         2         3         4         5        6   \
Zmk_Hatiya       -0.451737 -0.053908 -0.696244 -1.635140  0.326972  0.68016
Q (Sen's slope)   0.000000  0.000000 -0.140873 -2.534632  0.837500  2.50000

                        7         8         9         10        11        12
Zmk_Hatiya        1.321193 -0.013081  0.418632  1.870600 -0.462856  0.268005
Q (Sen's slope)   6.390093 -0.098485  1.142857  5.674242  0.000000  0.000000
                        1         2         3         4         5         6   \
Zmk_Khepupara    -0.506104 -1.178937 -1.169696 -2.568914 -0.205922  0.238423
Q (Sen's slope)   0.000000 -0.066667 -0.076923 -2.000000 -0.352941  1.000000

                        7         8         9         10        11        12
Zmk_Khepupara     1.712308  0.270951  1.105414  2.818052 -0.493979  0.118888
Q (Sen's slope)   4.896552  0.400000  2.250000  6.378378  0.000000  0.000000
                        1         2         3         4         5         6   \
Zmk_Kutubdia      0.815007 -1.333704 -1.121983 -0.993416  0.289177 -0.326870
Q (Sen's slope)   0.000000  0.000000 -0.083333 -0.885714  0.833333 -1.416667

                        7         8         9         10        11        12
Zmk_Kutubdia      0.905177  0.917822  0.616072  1.018566 -3.083999  0.729196
Q (Sen's slope)   4.200000  3.937500  1.555556  1.642857 -1.787879  0.000000
                       1         2         3         4         5         6   \
Zmk_M.court      -0.39787 -0.853986 -1.704174 -1.539271 -0.509387 -0.509507
Q (Sen's slope)   0.00000 -0.133333 -0.833333 -2.090909 -1.454545 -1.166667

                        7         8         9         10        11        12
Zmk_M.court      -1.571514 -2.882746 -0.639444  2.546936 -0.563935 -0.457898
Q (Sen's slope)  -5.181818 -6.933333 -1.000000  4.666667  0.000000  0.000000
                        1         2         3         4         5         6   \
Zmk_Mongla       -1.737602 -1.856204 -1.888156 -1.184113  0.291935  0.340546
Q (Sen's slope)  -0.083333 -0.645833 -0.666667 -1.000000  0.464103  0.738636

                        7         8         9         10        11        12
Zmk_Mongla        1.475697  0.291935 -0.664875  1.232613 -0.638458  1.596154
Q (Sen's slope)   4.071429  0.600000 -1.630682  2.627451 -0.050505  0.000000
                        1         2         3         4         5         6   \
Zmk_Patuakhali   -1.125254 -1.372715 -1.122976 -2.536943 -1.083866 -1.668958
Q (Sen's slope)   0.000000 -0.181818 -0.166667 -2.666667 -1.600000 -4.459459

                      7         8         9         10        11      12
Zmk_Patuakhali    0.1301 -0.997157 -0.195096  2.276119 -0.817604 -1.0606
Q (Sen's slope)   0.4000 -2.428571 -0.560000  4.166667 -0.090909  0.0000
                        1         2         3         4         5         6   \
Zmk_Sandwip      -0.327682 -1.032421 -1.419859 -1.696522  0.831216  0.988473
Q (Sen's slope)   0.000000  0.000000 -0.411654 -3.014286  1.673280  3.653382

                        7         8         9         10        11        12
Zmk_Sandwip       0.954715  0.550365  0.483034  0.572901 -1.475971 -0.289788
Q (Sen's slope)   5.900000  2.118304  1.127016  1.428427 -0.333333  0.000000
                        1         2         3         4         5         6   \
Zmk_Chandpur     -0.693015  0.427036 -1.779144 -1.528341 -0.335979  0.205922
Q (Sen's slope)   0.000000  0.000000 -1.000000 -2.040000 -1.000000  0.500000

                        7         8         9         10        11        12
Zmk_Chandpur     -0.747824 -0.780475 -1.007936  1.680750 -0.365093 -0.846239
Q (Sen's slope)  -1.320000 -1.481481 -1.777778  2.176471  0.000000  0.000000
                        1         2         3         4         5         6   \
Zmk_Comilla      -0.975755 -0.775690 -1.139019 -0.975594 -0.888666  1.018834
Q (Sen's slope)   0.000000 -0.071429 -0.576923 -1.454545 -1.296296  2.090909

                        7         8         9         10        11        12
Zmk_Comilla       0.000000 -1.528162  0.531126  0.140894 -0.915021  0.575476
Q (Sen's slope)  -0.085714 -2.333333  0.695652  0.606061  0.000000  0.000000
                        1         2         3         4         5         6   \
Zmk_Dhaka        -1.403356 -0.935649 -1.974571 -1.376591 -0.953952 -0.411821
Q (Sen's slope)   0.000000 -0.136364 -1.407407 -1.666667 -1.270270 -1.363636

                        7         8         9         10        11      12
Zmk_Dhaka         0.346837 -0.130079 -2.959592 -0.216748 -0.522093 -0.3136
Q (Sen's slope)   1.058824 -0.200000 -4.238095 -0.300000  0.000000  0.0000
                       1         2         3         4         5         6   \
Zmk_Faridpur    -0.609692 -1.144781 -3.092136 -2.655316 -1.658673 -0.401054
Q (Sen's slope)  0.000000 -0.166667 -1.421053 -2.769231 -1.843750 -0.642857

                      7         8         9         10        11        12
Zmk_Faridpur     1.34431  0.184275 -1.159850  0.401007  0.022469 -0.104566
Q (Sen's slope)  2.00000  0.285714 -1.708333  0.523810  0.000000  0.000000
                        1         2         3         4         5         6   \
Zmk_Madaripur    -0.789648 -0.655369 -1.965921 -1.972637 -0.747824 -1.354753
Q (Sen's slope)   0.000000 -0.055556 -1.027778 -2.407407 -1.000000 -2.703704

                        7        8         9         10   11        12
Zmk_Madaripur    -0.899662 -1.59319 -0.032518  1.138126  0.0  0.485532
Q (Sen's slope)  -1.600000 -3.06250 -0.035714  1.724138  0.0  0.000000
                        1         2         3         4         5         6   \
Zmk_Mymensingh   -0.928646 -1.068357 -1.171402 -0.281838 -0.151741  0.780292
Q (Sen's slope)   0.000000 -0.117647 -0.521739 -0.322581 -0.444444  2.333333

                        7         8         9         10        11        12
Zmk_Mymensingh   -1.907381 -0.422799 -1.940235 -0.639444  0.081307 -1.542691
Q (Sen's slope)  -5.000000 -0.863636 -3.096774 -1.000000  0.000000  0.000000
                        1         2         3         4         5         6   \
Zmk_Tangail      -0.207118 -2.043206 -0.450466 -0.245244 -0.190746  0.245199
Q (Sen's slope)   0.000000 -0.599359 -0.157468 -0.316667 -0.486842  0.551339

                        7         8         9         10        11        12
Zmk_Tangail      -0.694795 -0.095364 -1.907102  0.367832 -1.280379  0.207072
Q (Sen's slope)  -1.540936 -0.161458 -3.414286  0.430000  0.000000  0.000000
File successfully saved at: /content/drive/MyDrive/research/mk_18Nov.csv